<!-- starts raspicam image publisher and server on a raspberry pi board -->
<launch>

    <arg name="machine_name" default="usb_head_camera" />
    <arg name="address_byte" default="60" />

    <!-- start the raspicam service and image publisher on the raspi board -->
    <node name="$(arg machine_name)" pkg="raspicam" type="raspicam_node" respawn="true" output="screen">
        <remap from="/$(arg machine_name)/camera/image/compressed" to="/$(arg machine_name)/image_raw/compressed" />
        <remap from="/$(arg machine_name)/camera/camera_info" to="/$(arg machine_name)/camera_info" />
        <param name="camera_info_url" value="package://srrc_vision/config/camera_calibration/rpi_narrow.yaml" />
        <param name="camera_name" value="$(arg machine_name)_camera" />
        <param name="camera_frame_id" value="$(arg machine_name)_optical_frame" />
	<param name="framerate" value="5" />
        <!--
           values for the srrc_publishing_mode parameter:
           SrrcPublish_Always = 0, //: publish images always when the camera is on (default)
           SrrcPublish_Wait   = 1, //: wait for request to publish only one image and then remain in this waiting mode
           SrrcPublish_Once   = 2  //: publish one image and then switch in this waiting mode
        -->
	<param name="srrc_publishing_mode" value="1" />
    </node>
</launch>

