<launch>
  <node type="raspicam_node" pkg="raspicam_node" name="raspicam_node" output="screen">

    <param name="camera_info_url" value="package://raspicam_node/camera_info/camerav2_410x308.yaml"/>
    <param name="width" value="410"/>
    <param name="height" value="308"/>

    <param name="framerate" value="30"/>
    <param name="exposure_mode" value="antishake"/>
    <param name="shutter_speed" value="0"/>

    <param name="camera_frame_id" value="raspicam"/>

  </node>

</launch>
