<launch>
  <arg name="camera_id" default="0"/>
  <arg name="camera_frame_id" default="raspicam"/>
  <arg name="left_camera_name" default="camerav2_1280x720"/>
  <arg name="right_camera_name" default="camerav2_1280x720"/>

  <node type="stereo_node" pkg="raspicam_node" name="stereo_node" output="screen">
    <param name="private_topics" value="true"/>

    <param name="camera_frame_id" value="$(arg camera_frame_id)"/>
    <param name="camera_id" value="$(arg camera_id)"/>

    <param name="left_camera_info_url" value="file:///home/pi/robot_ws/src/raspicam_node/camera_info/camerav2_1280x720.yaml"/>
    <param name="right_camera_info_url" value="file:///home/pi/robot_ws/src/raspicam_node/camera_info/camerav2_1280x720.yaml"/>
    <param name="left_camera_name" value="$(arg left_camera_name)"/>
    <param name="right_camera_name" value="$(arg right_camera_name)"/>
    <param name="width" value="1280"/>
    <param name="height" value="720"/>

    <!-- We are running at 90fps to reduce motion blur -->
    <param name="framerate" value="15"/>
  </node>
</launch>
